# <font color=pink>Ejercicios Básicos</font>

In [26]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
import seaborn as sns

#Abrimos el archivo iris.data con la indicación de que no tiene encabezado
iris = pd.read_csv('iris.data',header = None)

# Hacemos un dataFrame con los datos recien abiertos.
Iris = pd.DataFrame(iris)

#añadimos nombres a los encabezados
#Los nombres de la columna se asignaron de acuerdo al archivo iris.names
Iris.columns = ['Longitud Sepalo','Ancho Sepalo','Longitud Petalo','Ancho Petalo','Especie']

#Imprimimos las primeras 10 filas
Iris.head(10)

   Longitud Sepalo  Ancho Sepalo  Longitud Petalo  Ancho Petalo      Especie
0              5.1           3.5              1.4           0.2  Iris-setosa
1              4.9           3.0              1.4           0.2  Iris-setosa
2              4.7           3.2              1.3           0.2  Iris-setosa
3              4.6           3.1              1.5           0.2  Iris-setosa
4              5.0           3.6              1.4           0.2  Iris-setosa
5              5.4           3.9              1.7           0.4  Iris-setosa
6              4.6           3.4              1.4           0.3  Iris-setosa
7              5.0           3.4              1.5           0.2  Iris-setosa
8              4.4           2.9              1.4           0.2  Iris-setosa
9              4.9           3.1              1.5           0.1  Iris-setosa

In [24]:
#Imprimimos las primeras diez filas y las primeras dos columnas
Iris[['Longitud Sepalo', 'Ancho Sepalo']].head(10)

   Longitud Sepalo  Ancho Sepalo
0              5.1           3.5
1              4.9           3.0
2              4.7           3.2
3              4.6           3.1
4              5.0           3.6
5              5.4           3.9
6              4.6           3.4
7              5.0           3.4
8              4.4           2.9
9              4.9           3.1

In [2]:
#Para contar el numero de filas y columnas usamos Iris.shape()
numero_filas = Iris.shape[0]
numero_columnas = Iris.shape[1]
print('El numero de filas es %d' %numero_filas + '. El numero de columnas es %d' %numero_columnas + '.')

print('\n')

#Para imprimir las llaves usamos la funcion keys()
print('Una llave en este DataFrame es ' + Iris.keys())

print('\n')

#Para encontrar Not a Number (NaN) usamos la funcion isnull()
print('El total de NaNs por columna son:')
print((Iris.isnull().sum()))
print('\n')
print('El total global de NaNs es: %d' %Iris.isna().values.sum() + '.')

print('\n')

#Creamos el array Solicitado con Numpy
arreglo = np.zeros((5,5),int)
print(arreglo)
print('\n')
#Rellenamos su diagonal con unos con la funcion fill_diagonal(x,y)
np.fill_diagonal(arreglo,1)
print(arreglo)
print('\n')
#Creamos la matriz dispersa con la funcion csr_matrix() de Scipy
dispersa = csr_matrix(arreglo)
print(dispersa)
print('El tipo de la matriz dispersa es: ' + str(type(dispersa)))

El numero de filas es 150. El numero de columnas es 5.


Index(['Una llave en este DataFrame es Longitud Sepalo',
       'Una llave en este DataFrame es Ancho Sepalo',
       'Una llave en este DataFrame es Longitud Petalo',
       'Una llave en este DataFrame es Ancho Petalo',
       'Una llave en este DataFrame es Especie'],
      dtype='object')


El total de NaNs por columna son:
Longitud Sepalo    0
Ancho Sepalo       0
Longitud Petalo    0
Ancho Petalo       0
Especie            0
dtype: int64


El total global de NaNs es: 0.


[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]


[[1 0 0 0 0]
 [0 1 0 0 0]
 [0 0 1 0 0]
 [0 0 0 1 0]
 [0 0 0 0 1]]


  (0, 0)	1
  (1, 1)	1
  (2, 2)	1
  (3, 3)	1
  (4, 4)	1
El tipo de la matriz dispersa es: <class 'scipy.sparse.csr.csr_matrix'>

In [3]:
Iris.describe()

       Longitud Sepalo  Ancho Sepalo  Longitud Petalo  Ancho Petalo
count       150.000000    150.000000       150.000000    150.000000
mean          5.843333      3.054000         3.758667      1.198667
std           0.828066      0.433594         1.764420      0.763161
min           4.300000      2.000000         1.000000      0.100000
25%           5.100000      2.800000         1.600000      0.300000
50%           5.800000      3.000000         4.350000      1.300000
75%           6.400000      3.300000         5.100000      1.800000
max           7.900000      4.400000         6.900000      2.500000

El metodo describe() Muestra los valores de interes en los datos:
- count: Conteo de valores excluyendo los NaN
- mean: Media o promedio de todos los valores numericos en una columna
- std: Desviacion estandard de todos los valores numericos en una columna
- min: El valor numerico minimo de todos los valores numericos presentes en la columna
- 25%, 50%, 75% : Percentiles (cuantil 1, 2 y 3 respectivamente) de todos los valores numericos en una columna
- max: El valor numerico maximo de todos los valores numericos presentes en la columna

Tomado de https://backtobazics.com/python/pandas-describe-method-dataframe-summary/

In [4]:
#Imprimimos solo el promedio
print('El promedio de las columnas por separado es:')
print(Iris.mean(axis=0,skipna=True))
print('\n')
print('Por Separado:')
print('El promedio de la columna Longitud Sepalo es: %f.' %Iris['Longitud Sepalo'].mean())
print('El promedio de la columna Ancho Sepalo es: %f.' %Iris['Ancho Sepalo'].mean())
print('El promedio de la columna Longitud Petalo es: %f.' %Iris['Longitud Petalo'].mean())
print('El promedio de la columna Ancho Petalo es: %f.' %Iris['Ancho Petalo'].mean())
print('\n')

#Imprimimos solo la desviacion
print('La desviacion de las columnas por separado es:')
print(Iris.std(axis=0,skipna=True))
print('\n')
print('Por Separado:')
print('La desviacion de la columna Longitud Sepalo es: %f.' %Iris['Longitud Sepalo'].std())
print('La desviacion de la columna Ancho Sepalo es: %f.' %Iris['Ancho Sepalo'].std())
print('La desviacion de la columna Longitud Petalo es: %f.' %Iris['Longitud Petalo'].std())
print('La desviacion de la columna Ancho Petalo es: %f.' %Iris['Ancho Petalo'].std())

El promedio de las columnas por separado es:
Longitud Sepalo    5.843333
Ancho Sepalo       3.054000
Longitud Petalo    3.758667
Ancho Petalo       1.198667
dtype: float64


Por Separado:
El promedio de la columna Longitud Sepalo es: 5.843333.
El promedio de la columna Ancho Sepalo es: 3.054000.
El promedio de la columna Longitud Petalo es: 3.758667.
El promedio de la columna Ancho Petalo es: 1.198667.


La desviacion de las columnas por separado es:
Longitud Sepalo    0.828066
Ancho Sepalo       0.433594
Longitud Petalo    1.764420
Ancho Petalo       0.763161
dtype: float64


Por Separado:
La desviacion de la columna Longitud Sepalo es: 0.828066.
La desviacion de la columna Ancho Sepalo es: 0.433594.
La desviacion de la columna Longitud Petalo es: 1.764420.
La desviacion de la columna Ancho Petalo es: 0.763161.

In [6]:
#Agrupamos por especie y contamos con las funciones groupby() y value_counts()
print(Iris.groupby('Especie')['Especie'].value_counts())

#Otro metodo mas sencillo es como sigue
Iris['Especie'].value_counts()

Especie          Especie
Iris-setosa      Iris-setosa        50
Iris-versicolor  Iris-versicolor    50
Iris-virginica   Iris-virginica     50
Name: Especie, dtype: int64

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Especie, dtype: int64

Por no leer bien repetire algunos codigos para mostrar sin encabezados.

In [10]:
#Abrimos el archivo iris.data con la indicación de que no tiene encabezado
iris1 = pd.read_csv('iris.data')

# Hacemos un dataFrame con los datos recien abiertos.
Iris1 = pd.DataFrame(iris1)

#Imprimimos las primeras 10 filas
Iris1.head(10)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

In [25]:
#Imprimimos las primeras diez filas y las primeras dos columnas
Iris1[['5.1', '3.5']].head(10)

   5.1  3.5
0  4.9  3.0
1  4.7  3.2
2  4.6  3.1
3  5.0  3.6
4  5.4  3.9
5  4.6  3.4
6  5.0  3.4
7  4.4  2.9
8  4.9  3.1
9  5.4  3.7

In [12]:
#Para contar el numero de filas y columnas usamos Iris.shape()
numero_filas = Iris1.shape[0]
numero_columnas = Iris1.shape[1]
print('El numero de filas es %d' %numero_filas + '. El numero de columnas es %d' %numero_columnas + '.')

print('\n')

#Para imprimir las llaves usamos la funcion keys()
print('Una llave en este DataFrame es ' + Iris1.keys())

print('\n')

#Para encontrar Not a Number (NaN) usamos la funcion isnull()
print('El total de NaNs por columna son:')
print((Iris1.isnull().sum()))
print('\n')
print('El total global de NaNs es: %d' %Iris1.isnull().values.sum() + '.')

print('\n')
Iris1.describe()

El numero de filas es 149. El numero de columnas es 5.


Index(['Una llave en este DataFrame es 5.1',
       'Una llave en este DataFrame es 3.5',
       'Una llave en este DataFrame es 1.4',
       'Una llave en este DataFrame es 0.2',
       'Una llave en este DataFrame es Iris-setosa'],
      dtype='object')


El total de NaNs por columna son:
5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64


El total global de NaNs es: 0.

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [22]:
#Imprimimos solo el promedio
print('El promedio de las columnas por separado es:')
print(Iris1.mean(axis=0,skipna=True))
print('\n')
print('Por Separado:')
print('El promedio de la columna Longitud Sepalo es: %f.' %Iris1['5.1'].mean())
print('El promedio de la columna Ancho Sepalo es: %f.' %Iris1['3.5'].mean())
print('El promedio de la columna Longitud Petalo es: %f.' %Iris1['1.4'].mean())
print('El promedio de la columna Ancho Petalo es: %f.' %Iris1['0.2'].mean())
print('\n')

#Imprimimos solo la desviacion
print('La desviacion de las columnas por separado es:')
print(Iris.std(axis=0,skipna=True))
print('\n')
print('Por Separado:')
print('La desviacion de la columna Longitud Sepalo es: %f.' %Iris1['5.1'].std())
print('La desviacion de la columna Ancho Sepalo es: %f.' %Iris1['3.5'].std())
print('La desviacion de la columna Longitud Petalo es: %f.' %Iris1['1.4'].std())
print('La desviacion de la columna Ancho Petalo es: %f.' %Iris1['0.2'].std())
print('\n')

#Agrupamos por especie y contamos con las funciones groupby() y value_counts()
print('El conteo de clases es:')
print(Iris1.groupby('Iris-setosa')['Iris-setosa'].value_counts())
print('El conteo de clases, por otro metodo, es:')
#Otro metodo mas sencillo es como sigue
Iris1['Iris-setosa'].value_counts()

El promedio de las columnas por separado es:
5.1    5.848322
3.5    3.051007
1.4    3.774497
0.2    1.205369
dtype: float64


Por Separado:
El promedio de la columna Longitud Sepalo es: 5.848322.
El promedio de la columna Ancho Sepalo es: 3.051007.
El promedio de la columna Longitud Petalo es: 3.774497.
El promedio de la columna Ancho Petalo es: 1.205369.


La desviacion de las columnas por separado es:
Longitud Sepalo    0.828066
Ancho Sepalo       0.433594
Longitud Petalo    1.764420
Ancho Petalo       0.763161
dtype: float64


Por Separado:
La desviacion de la columna Longitud Sepalo es: 0.828594.
La desviacion de la columna Ancho Sepalo es: 0.433499.
La desviacion de la columna Longitud Petalo es: 1.759651.
La desviacion de la columna Ancho Petalo es: 0.761292.


El conteo de clases es:
Iris-setosa      Iris-setosa
Iris-setosa      Iris-setosa        49
Iris-versicolor  Iris-versicolor    50
Iris-virginica   Iris-virginica     50
Name: Iris-setosa, dtype: int64
El conteo de clases, por otro metodo, es:

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: Iris-setosa, dtype: int64

# <font color=green>Ejercicios de visualización</font>